* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #FFF5E2;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.logo {
  position: absolute;
  z-index: 2;
  right: -50px;
  max-height: 20%;
  width: auto;
  top: -20px;
}

.main__container {
  background-color: #FFF;
  max-width: 50%;
  position: relative;
}

h1 {
  font-size: 40px;
  background-color: #fdbb40;
  padding: 60px 0 30px 40px;
}

h3 {
  font-size: 24px;
  padding-bottom: 10px;
}

#input__name {
  font-size: 30px;
  margin-bottom: 30px;
}

main {
  padding: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.input__discount__container {
  font-size: 20px;
  margin-top: 30px;
}

#input__discount {
  background-color: #FFF5E2;
  width: 70%;
  height: 30px;
  border-radius: 10px;
  padding-left: 15px;
}

.input__discount__container label {
  padding-right: 20px;
  width: 20%;
}

button {
  margin-top: 20px;
  display: block;
  margin: 30px auto;
  background-color: #fdbb40;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

footer {
  background-color: #d33359;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 60px 40px;
  width: 100%;
  color: #FFF;
  font-size: 20px;
}

li {
  width: calc(50% - 2px);
  display: inline-block;
  padding: 10px 0;
  font-size: 18px;
}

.ingredients__list img {
  padding-right: 10px;
  height: 50px;
  vertical-align: middle;
}

.ingredient {
  margin: 0 10px;
}

li span {
  color: #d33359;
}
